language: objective-c
osx_image: xcode10.2
xcode_project: ElasticSwift.xcodeproj
xcode_scheme: ElasticSwiftTests
before_install:
  - brew update
  - brew install elasticsearch
  - brew services start elasticsearch
before_script:
  - sleep 10
env:
  - TOOLCHAINS=swift
script:
  - swift build
  - swift test